@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes translate{
    0% {
        transform: translateY(-4rem);
    }
    100% {
        transform: translateY(2rem);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 45vh 55vh;
}

.upper{
    background: rgb(239, 109, 78);
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}
.add{
    display: flex;
    justify-content: space-evenly;
}
.close{
    display: none;
    height: 100%;
}
.lower{ 
    height: 100%;
    background: black;
}
.best-streak{
    padding: 0 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}
.best-streak h5 {
    margin-bottom: 0.6rem;
    text-align: center;
    color: white;
  }
img{
    height: 16em;
    display: flex;
}

.upper .add .btn{
    background-color: rgb(12, 86, 155);
    transition: transform 0.3s ease;
    border-radius: 25px;
    width: 75px;
    padding: 15px 10px;
    border: 1px solid rgb(60, 66, 155);
    margin-right: 5em;
}
.upper .add .btn:hover{
    transform: scale(1.5);
    background-color: rgb(165, 113, 36);
    cursor: pointer;
}
.upper .bi-box-arrow-right{
    align-self: flex-start;
}
.bi{
    font-size: 3em;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.bi-plus-circle{
    display: flex;
    align-items: center;
}
.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-icon .bi-list-task{
    font-size: 4.2em;
}
.menu-icon h4{
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
}
.phone-icon{
    height: auto;
    display: flex;
    align-items: center;
}
.avator{
    height: 40vh;
    animation-name: rotate;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
h3{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
    animation-name: translate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.activity-status{
    display: flex;
    width: 90%;
    height: 3rem;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 3px;
    color: white;
}
#all-activities{
    display: flex;
    width: 90%;
    height: 3rem;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 3px;
    color: white;
}
.input-form{
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 90%;
    margin: 1.2em;
    width: 40vw;
    padding: 1.2em;
    background-color: white;
}
.update-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1.2em;
    width: 100%;
    padding: 1.2em;
}
label{
    color: rgb(239, 109, 78);
}
.task-input{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.please{
    background: rgb(239, 109, 78);
    color: white;
}
input{
    display: flex;
    width: 98%;
    margin: 0.3em;
    padding: 0.3em;
}
.please, .task-name, .im, .date{
    display: flex;
    flex-direction: column;
    flex: inherit;
}
.add-task{
    background: rgb(239, 109, 78);
}
.update{
    background: rgb(239, 109, 78);
}
h4{
    color: rgb(239, 109, 78);
}
#activity-section .task img{
    height: 9em;
}
#activity-section{
    display: flex;
    gap: 1.2em;
    flex-wrap: wrap;
}
.best-streak .task{
    background: white;
    color: black;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.success-message {
    opacity: 0;
    animation: fadeOut 5s ease-in-out;
}


.overlay{
    display: grid;
    place-items: center;
    z-index: 998;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}
.overlay.show {
    opacity: 1;
    pointer-events: all;
} 
.content.show {
    filter: blur(5px) grayscale(0.7);
} 
#updateform{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.modal .modal-image {
    height: 23rem;
    width: 50%;
}
.modal .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .date {
    margin: 1rem 0;
    color: black;
    text-align: center;
}
.modal .time-passed {
    margin: 1rem 0;
    color:black;
    text-align: center;
}
.modal .close-delete-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
}
.modal .close-delete-btn .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgb(142, 19, 146);
}
@keyframes scale-close {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
}
.modal .close-delete-btn .close-modal {
    margin-right: 3rem;
    background-color: rgb(104, 101, 101);
    animation-name: scale-close;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.modal .close-delete-btn .close-modal:hover{
    animation-play-state: paused;
}
  
.modal .close-delete-btn .delete-modal {
    background-color: red;
    margin-right: 3rem;
    animation-name: scale-close;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.modal .close-delete-btn .update{
    background-color: orange;
}